# Virtual environment
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor settings
.vscode/
.idea/

# Streamlit cache
.streamlit/

# OS System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Build and distribution directories
build/
dist/
*.egg-info/

# Environment files
*.env
.env.*
